@use "../../index.scss" as global;

.maskedSectionWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-mask-image: url("../../assets/masks/cursor-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 0px;
  mask-image: url("../../assets/masks/cursor-mask.svg");
  mask-repeat: no-repeat;
  mask-size: 0px;
  z-index: 99;

  .maskedHeroSection {
    height: 100vh;
  }

  .maskedAboutSection {
    height: 100vh;
  }
}

.maskedAboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  font-family: "Avant Garde Book BT";
  font-weight: 800;
  font-size: 4.5rem;
  padding: 0 2.5rem;
  color: global.$light-text-color;

  &.light {
    background-color: global.$pale-orange-color;
  }

  &.dark {
    background-color: global.$pale-green-color;
  }

  .aboutTextContainer {
    width: 75%;
    margin-top: 3rem;

    .maskedTextContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
    }
  }

  .maskedWordsWrapper {
    position: relative;
    height: 6.1rem;
    display: inline-flex;
    overflow-y: hidden;

    .maskedWords {
      position: relative;
      overflow: hidden;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .maskedSectionWrapper {
    display: none;
  }
}
