@use "../../index.scss" as global;

.projectSectionWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: linear 0.6s;
  padding: 6rem 0;

  .projectItemsWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .projectItemSeparator {
      width: 100%;
      height: 1px;

      &.light {
        background-color: global.$light-disabled-color;
      }

      &.dark {
        background-color: global.$dark-disabled-color;
      }
    }
  }
}

.projectMaskedItemWrapper {
  position: absolute;
  height: 7.6rem;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 8.5rem;
  clip-path: inset(50% 0 50%);
  transition: clip-path 0.5s;
  color: global.$light-text-color;
  z-index: 20;

  &.light {
    background-color: global.$pale-orange-color;
  }

  &.dark {
    background-color: global.$pale-green-color;
  }

  .projectTitleContainer {
    width: 100%;

    .projectTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 3.8rem;
      font-weight: 700;
      font-family: "Avant Garde Book BT";
      transition: linear 0.6s;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .projectDescriptionWrapper {
    text-align: right;
    font-family: "Space Grotesk";
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.projectItemWrapper {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 8.5rem;
  z-index: 9;

  .projectTitleContainer {
    width: 100%;

    .projectTitle {
      font-size: 3.8rem;
      font-weight: 700;
      font-family: "Avant Garde Book BT";
      transition: color linear 0.6s;
      text-align: left;
      text-transform: uppercase;

      &.light {
        color: global.$light-text-color;
      }

      &.dark {
        color: global.$dark-text-color;
      }
    }

    .projectDisabledTitle {
      position: absolute;
      font-size: 3.8rem;
      font-weight: 700;
      font-family: "Avant Garde Book BT";
      transition: linear 0.6s;
      text-align: left;
      text-transform: uppercase;

      &.light {
        color: global.$light-disabled-color;
      }

      &.dark {
        color: global.$dark-disabled-color;
      }
    }
  }

  .projectRoleWrapper {
    text-align: right;
    transition: linear 0.6s;
    font-family: "Space Grotesk";
    font-size: 1.2rem;

    &.light {
      color: global.$light-disabled-color;
    }

    &.dark {
      color: global.$dark-disabled-color;
    }
  }
}

@media only screen and (max-width: 640px) {
  .projectSectionWrapper {
    padding: 1.5rem 0;
    justify-content: flex-start;
    align-items: flex-start;

    .projectItemsWrapper {
      height: 7.5rem;
      width: 100%;
    }
  }

  .projectMaskedItemWrapper {
    height: 1.2rem;
    padding: 0 1.5rem;
    height: 7.5rem;
    flex-direction: column;

    .projectTitleContainer {
      width: 100%;

      .projectTitle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 2.5rem;
      }
    }

    .projectDescriptionWrapper {
      font-size: 1rem;
      text-align: left;
    }
  }

  .projectItemWrapper {
    padding: 0 1.5rem;
    flex-direction: column;
    justify-content: space-between;

    .projectTitleContainer {
      width: 100%;
      .projectTitle {
        padding: 0.5rem 0;
        font-size: 2.5rem;
      }

      .projectDisabledTitle {
        padding: 0.5rem 0;
        font-size: 2.5rem;
      }
    }

    .projectRoleWrapper {
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      text-align: left;
    }
  }
}
