@use "../../index.scss" as global;

.heroScreenWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heroImageWrapper {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    $size: 12px; /* the size on the corner */
    $thick: 2px; /* the thickness of the border */
    $gap: 1rem; /* the gap between the border and image */

    padding: calc($gap + $thick);
    outline-offset: calc(-1 * $thick);
    -webkit-mask:
      conic-gradient(at $size $size, #0000 75%, #000 0) 0 0 / calc(100% - $size) calc(100% - $size),
      linear-gradient(#000 0 0) content-box;
    mask:
      conic-gradient(at $size $size, #0000 75%, #000 0) 0 0 / calc(100% - $size) calc(100% - $size),
      linear-gradient(#000 0 0) content-box;
    transition: 0.4s;

    .heroImageMask {
      overflow: hidden;

      .heroImage {
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      outline-offset: calc($gap/-1);
    }

    &.light {
      outline: $size solid global.$light-disabled-color;
    }

    &.dark {
      outline: $size solid global.$dark-disabled-color;
    }

    .heroNameWrapper {
      position: absolute;
      right: 6.5rem;
      font-size: 1.5rem;
      font-family: "Space Grotesk";
      font-weight: 600;
      line-height: 25px;
      color: global.$dark-disabled-color;
    }
  }

  .heroTitleWrapper {
    position: absolute;
    bottom: 30%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: center;

    .heroTitleMask {
      overflow-y: hidden;
      height: 6rem;

      .heroTitle {
        z-index: 0;
        transition: 0.6s linear;
      }

      .heroTitleOutline {
        position: relative;
        top: -6.75rem;
        transition: 0.6s linear;
        // background-image: url("../../assets/hero/hero-image.jpeg");
        // background-position: 50% 75%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10;

        &.light {
          -webkit-text-stroke: 1.5px global.$pale-orange-color;
        }

        &.dark {
          -webkit-text-stroke: 1.5px global.$pale-green-color;
        }
      }
    }

    &.light {
      color: global.$pale-orange-color;
    }

    &.dark {
      color: global.$pale-green-color;
    }
  }

  .heroSectionCount {
    position: absolute;
    bottom: 10.5rem;
    left: 2.5rem;
    font-family: "Avant Garde Book BT";
    font-weight: 500;
    font-size: 1.2rem;

    &.light {
      color: global.$light-disabled-color;
    }

    &.dark {
      color: global.$dark-disabled-color;
    }
  }

  .heroLeftTitle {
    position: absolute;
    top: 4.5rem;
    left: 2.5rem;
    font-family: "Caveat";
    font-size: 1.8rem;
    text-align: left;
    line-height: 2.4rem;
    transition: 0.6s linear;

    &.light {
      color: global.$light-disabled-color;
    }

    &.dark {
      color: global.$dark-disabled-color;
    }
  }

  .heroRightTitle {
    position: absolute;
    bottom: 4.5rem;
    right: 2.5rem;
    font-family: "Caveat";
    font-size: 1.8rem;
    text-align: right;
    line-height: 2.4rem;
    transition: 0.6s linear;

    &.light {
      color: global.$light-disabled-color;
    }

    &.dark {
      color: global.$dark-disabled-color;
    }
  }
}
