@use "../../index.scss" as global;

.transitionWrapper {
  min-height: calc(100vh - 80px);
  .transitionContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    .transitionColumns {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: global.$pale-orange-color;
    }
  }
}
