@use "../../index.scss" as global;

.transitionWrapper {
  min-height: calc(100dvh - 80px);
  .transitionContainer {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    .transitionColumns {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: global.$pale-orange-color;
    }
  }
}

@media only screen and (max-width: 640px) {
  .transitionWrapper {
    overflow-x: hidden;
    .transitionContainer {
      overflow-x: hidden;
    }
  }
}
