@use "../../index.scss" as global;

.connectSectionWrapper {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectSectionContainer {
  width: 75%;

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }
}

.connectLines {
  display: flex;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Avant Garde Book BT";
  justify-content: space-between;
  text-transform: uppercase;
  transition: linear color 0.6s;
}

.connectLines p {
  margin: 0px;
  width: 100%;
}

.connectLines p:first-child {
  text-align: left;
}

.connectLines p:last-child {
  text-align: right;
}

.connectLinksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
}

.connectLinks {
  width: fit-content;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Space Grotesk";
  justify-content: space-between;
  text-transform: uppercase;
  transition: linear color 0.6s;
}

.connectLinks p {
  margin: 0px;
  width: 100%;
}

.background {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}

@media only screen and (max-width: 640px) {
  .connectSectionContainer {
    padding: 0 1.5rem;
    width: 100%;
  }
  .connectLines {
    font-size: 3.2rem;
    flex-wrap: wrap;
  }

  .connectLinks {
    font-size: 2rem;
  }

  .connectLinksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}
