@use "../../index.scss" as global;

.hamburgerMenuWrapper{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: background-color linear 0.6s;
    
    &.light{
        background-color: global.$pale-orange-color;
    }

    &.dark{
        background-color: global.$pale-green-color;
    }
}