@use "../../index.scss" as global;

.hamburgerMenuWrapper{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 400px;
    transition: background-color linear 0.6s;
    
    &.light{
        background-color: global.$pale-orange-color;
    }

    &.dark{
        background-color: global.$pale-green-color;
    }
}

.hamburgerMenuContainer{
    width: 100%;
    height: 100%;
}

.hamburgerMenuCurve{
    position: relative;
    left: 0;
    width: 100%;
    height: 400px;

    z-index: 999;
    stroke: none;

    transition: fill 0.6s linear;

    &.light{
        fill: global.$pale-orange-color;
    }

    &.dark{
        fill: global.$pale-green-color;
    }
}