@use "../../index.scss" as global;

.hamburgerMenuWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-right: -25px;
    box-sizing: border-box;
    transition: background-color linear 0.6s;

    &.light{
        background-color: global.$pale-orange-color;
    }

    &.dark {
        background-color: global.$pale-green-color;
    }
}

.hamburgerContainer{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hamburgerButton{
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}