@use "../../index.scss" as global;

.aboutContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 2.5rem;
}

.aboutTextWrapper {
  height: 100%;
  width: 75%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Avant Garde Book BT";
  font-weight: 600;
  font-size: 4.5rem;
  transition: linear 0.6s;

  .aboutTitle {
    font-family: "Avant Garde Book BT";
    font-size: 1.5rem;
    padding: 0 0.5rem;
    text-align: left;
    &.light {
      color: global.$light-text-color;
    }

    &.dark {
      color: global.$dark-text-color;
    }
  }

  .aboutTextContainer {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .aboutTextMask {
    height: 6.5rem;
    position: relative;
    display: inline-flex;
    overflow-y: hidden;
  }

  .aboutWords {
    position: relative;
    margin-right: 1rem;
  }

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }
}

.aboutButtonWrapper {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;

  .aboutButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: normal;
    background-color: global.$pale-green-color;
    color: global.$light-text-color;
    font-family: "Space Grotesk";
    font-weight: 800;
    font-size: 1.5rem;
    height: 120px;
    width: 120px;
    padding: 1.2rem 1.2rem;
    border-radius: 100%;
  }
}
