@use "../../index.scss" as global;

.aboutContainer {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 2.5rem;
}

.aboutTextWrapper {
  height: 100%;
  width: 75%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Avant Garde Book BT";
  font-weight: 600;
  font-size: 4.5rem;
  transition: linear 0.6s;

  .aboutTextContainer {
    width: 85%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .aboutTextMask {
    height: 6.1rem;
    position: relative;
    display: inline-flex;
    overflow-y: hidden;
  }

  .aboutWords {
    position: relative;
    margin-right: 1rem;
  }

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }
}

.aboutSectionCount {
  text-align: right;
  width: 100%;
  font-family: "Avant Garde Book BT";
  font-weight: 700;
  font-size: 1.2rem;

  &.light {
    color: global.$light-disabled-color;
  }

  &.dark {
    color: global.$dark-disabled-color;
  }
}

@media only screen and (max-width: 640px) {
  .aboutContainer {
    padding: 1rem 1rem;

    .aboutTextWrapper {
      font-size: 2.4rem;
      width: 95%;

      .aboutWordsContainer {
        width: 100%;
      }

      .aboutTextMask {
        height: 4rem;
      }
    }
  }
}
