@use "../../index.scss" as global;

.headerWrapper {
  position: fixed;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 999;

  .headerLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .headerLinkWrapper {
      height: 1.5rem;
      margin-right: 1rem;
      overflow-y: hidden;


      .headerLink {
        transition: 0.6s linear;
        text-decoration: none !important;

        &:first-child{
          margin-left: 30px;
        }
       
      }
    }

    .selected {
      &.light {
        color: global.$light-text-color;
      }

      &.dark {
        color: global.$dark-text-color;
      }
    }

    .normal {
      &.light {
        color: global.$light-disabled-color;
      }

      &.dark {
        color: global.$dark-disabled-color;
      }
    }
  }
}

.menuWrapper{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  transition: background-color linear 0.6s;

  &.light{
    background-color: global.$pale-orange-color;
  }

  &.dark{
    background-color: global.$pale-green-color;
  }
}

@media only screen and (max-width: 640px) {
  .headerWrapper {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    z-index: 999;
  }
}
