@use "../../index.scss" as global;

.headerWrapper {
  position: fixed;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 9999;

  .headerLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .menuButton{
      height: 0.8rem;
      width: 0.8rem;
      border: none;
      outline: none;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color linear 0.6s;

      &.light{
        background-color: global.$pale-orange-color;
      }

      &.dark{
        background-color: global.$pale-green-color;
      }

      svg{
        height: 8px;
        width: 8px;
      }

    }

    .headerLinkWrapper {
      height: 1.5rem;
      overflow-y: hidden;
      margin-left: 1.2rem;
  
      .headerLink {
        transition: 0.6s linear;
        text-decoration: none !important;
      }
    }

    .selected {
      &.light {
        color: global.$light-text-color;
      }

      &.dark {
        color: global.$dark-text-color;
      }
    }

    .normal {
      &.light {
        color: global.$light-disabled-color;
      }

      &.dark {
        color: global.$dark-disabled-color;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .headerWrapper {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    z-index: 999;
  }
}
