@use "../../index.scss" as global;

.loadingScreenWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  z-index: 99999;
  background-color: global.$pale-orange-color;

  .loadingContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .loadingTitle {
    position: absolute;
    bottom: 1.2rem;
    font-family: "Space Grotesk";
    font-weight: 600;
    font-size: 6rem;
    color: global.$light-text-color;
    margin: 1rem 2.5rem;
  }

  .loadingPercent {
    font-family: "Avant Garde Book BT";
    font-size: 4rem;
    font-weight: 600;
    margin: 1rem 2.5rem;
    color: global.$light-text-color;
  }

  .loadingProgress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8px;
    background-color: global.$dark-bg-color;
    border-radius: 0 50px 50px 0;
  }
}

@media only screen and (max-width: 640px) {
  .loadingScreenWrapper {
    height: 100dvh;
    .loadingTitle {
      margin: 1.5rem;
      font-size: 3.5rem;
    }

    .loadingPercent {
      margin: 1.5rem;
      font-size: 2.5rem;
    }
  }
}
