@use "../../index.scss" as global;

.footerWrapper {
  position: fixed;
  height: fit-content;
  width: 100dvw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Space Grotesk";
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  z-index: 10;
  font-weight: 700;
}

.light {
  color: global.$light-disabled-color;
}

.dark {
  color: global.$dark-disabled-color;
}

@media only screen and (max-width: 640px) {
  .footerWrapper {
    width: 100vw;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    z-index: 999;
  }
}
