@use "../../index.scss" as global;

.footerWrapper {
  position: fixed;
  width: 100dvw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Space Grotesk";
  font-size: 15px;
  padding: 1rem 2.5rem;
  z-index: 10;
}

.light {
  color: global.$light-disabled-color;
}

.dark {
  color: global.$dark-disabled-color;
}

@media only screen and (max-width: 640px) {
  .footerWrapper {
    font-size: 15px;
    padding: 1rem 1.5rem;
  }
}
