@use "../../index.scss" as global;

.postScrollProgress {
  position: fixed;
  top: 0;
  z-index: 99;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  transition: color 0.6s linear;

  &.light {
    background-color: global.$pale-orange-color;
  }

  &.dark {
    background-color: global.$pale-green-color;
  }
}

.postsSectionWrapper {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 2.5rem;
  text-align: left;
  transition: color 0.6s linear;

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }
}

.postsScrollBarWrapper {
  position: relative;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-right: 2.5rem;

  svg {
    height: 3rem;
    width: 3rem;
    margin: 5rem 0;
  }

  .postsScrollBarBackground {
    width: 10px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow-y: hidden;

    &.light {
      background-color: global.$light-disabled-color;
    }

    &.dark {
      background-color: global.$dark-disabled-color;
    }
  }

  .postsScrollBarThumb {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: global.$pale-orange-color;
  }
}

.postsListWrapper {
  flex: 1;
}

.postsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .postsTitle {
    font-family: "Avant Garde Book BT";
    font-size: 4.5rem;
    font-weight: 600;
    width: 75%;
  }

  .postsSort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: "Avant Garde Book BT";
    font-size: 1.4rem;
    font-weight: 600;
    width: 25%;
    text-align: center;
    color: global.$pale-orange-color;
    margin-right: 4rem;

    svg {
      height: 40px;
      width: 40px;
    }
  }
}

.postsWrapper {
  margin: 2rem 0;
  padding-right: 4rem;
  width: 100%;
  overflow-y: visible;

  .postDivider {
    height: 2px;
    width: 100%;
    transition: 0.6s linear;

    &.light {
      background-color: global.$light-disabled-color;
    }

    &.dark {
      background-color: global.$dark-disabled-color;
    }
  }
}

.postPreviewContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 1.6rem;
  transition: color 0.6s linear;

  &.light {
    color: global.$light-text-color;
    border-right: 2px solid global.$light-disabled-color;
  }

  &.dark {
    color: global.$dark-text-color;
    border-right: 2px solid global.$dark-disabled-color;
  }

  .postPreviewTitle {
    font-family: "Space Grotesk";
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }

  .postPreviewDate {
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .postPreviewSummary {
    width: 85%;
    font-family: "Avant Garde Book BT";
    font-weight: 400;
    font-size: 1.2rem;
  }
}

.postSectionWrapper {
  height: fit-content;
  width: 100dvw;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  transition: 0.6s color linear;

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }

  .postHeaderWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .postBackButton {
      margin-right: 2rem;
      margin-top: 1.2rem;
      height: 4rem;
      width: 4rem;
      background: none;
      border: none;
      outline: none;
      transition: color 0.6s linear;

      &.light {
        color: global.$light-text-color;
      }

      &.dark {
        color: global.$dark-text-color;
      }

      svg {
        height: 5rem;
        width: 5rem;
      }
    }

    .postTitle {
      width: 90%;
      font-family: "Space Grotesk";
      font-size: 5rem;
      font-weight: 700;
      text-align: right;
    }
  }

  .postDetailsContainer {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Avant Garde Book BT";
    font-size: 1rem;
    font-weight: 600;

    p > svg {
      height: 20px;
      width: 20px;
      margin-right: 1rem;
    }
  }

  .postTagsContainer {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;

    p {
      background-color: global.$dark-disabled-color;
      padding: 0.2rem 0.8rem;
      border-radius: 10px;
      color: global.$pale-green-color;
      margin-left: 1rem;
    }
  }

  .postContentWrapper {
    width: 100%;
    font-family: "Circular";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 35px;

    p {
      margin: 2rem 0;
    }

    .postCodeWrapper {
      display: flex;

      pre {
        width: 65%;
        border-radius: 10px;
        font-size: 0.9rem;
        transition: 0.6s linear;
      }

      svg {
        position: relative;
        top: 20px;
        right: 40px;
        color: global.$dark-disabled-color;
      }
    }
  }

  .postInlineCodeWrapper {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 75%;
    text-wrap: wrap;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 0.8rem 0.8rem;
    background-color: global.$dark-disabled-color;
    color: global.$dark-text-color;
  }

  table,
  th,
  td {
    border: 1px solid global.$light-disabled-color;
  }

  table {
    border-collapse: collapse;
    width: 85%;
  }

  th,
  td {
    padding: 0.4rem 0.8rem;
    text-align: center;
    vertical-align: center;
  }
}

.contentLoaderWrapper {
  height: 100vh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Avant Garde Book BT";
  font-size: 6rem;
  font-weight: 700;

  &.light {
    color: global.$light-text-color;
  }

  &.dark {
    color: global.$dark-text-color;
  }
}

@media only screen and (max-width: 640px) {
  .postsSectionWrapper {
    padding: 4rem 1.5rem 0 1.5rem;
  }

  .postsScrollBarWrapper {
    display: none;
  }

  .postsHeaderContainer {
    .postsTitle {
      font-size: 2.5rem;
    }

    .postsSort {
      font-size: 0.8rem;
      margin-right: 0;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  .postsWrapper {
    padding: 0;
  }

  .postPreviewContainer {
    width: 100%;
    padding: 0.8rem;

    &.light {
      border-right: 0px;
    }

    &.dark {
      border-right: 0px;
    }

    .postPreviewTitle {
      font-size: 1.5rem;
      margin-bottom: 0.6rem;
    }

    .postPreviewDate {
      font-size: 0.8rem;
    }
  }

  .postSectionWrapper {
    padding: 4rem 1.5rem;

    .postHeaderWrapper {
      .postBackButton {
        margin-right: 0.1rem;
        margin-top: 0.1rem;
        height: 2.8rem;
        width: 2.8rem;

        svg {
          height: 2.6rem;
          width: 2.6rem;
        }
      }

      .postTitle {
        font-size: 2.5rem;
      }
    }

    .postDetailsContainer {
      height: 5rem;
      font-size: 0.8rem;
      font-weight: 500;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }

    .postTagsContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: 0;

      p {
        background-color: global.$dark-disabled-color;
        padding: 0.1rem 0.4rem;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 1rem;
      }
    }

    .postContentWrapper {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 30px;
    }

    .postInlineCodeWrapper {
      width: fit-content;
      width: -moz-fit-content;
      font-size: 0.9rem;
    }

    table {
      width: 100%;
    }

    th,
    td {
      padding: 0.2rem 0.4rem;
    }
  }

  .contentLoaderWrapper {
    font-size: 3rem;
  }
}
