@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  user-select: none;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 999;
}
