@font-face {
  font-family: "Avant Garde Book BT";
  src: url("./fonts/avante/AvantGardeBook.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  src:
    url("./fonts/circular/CircularStd-Light.otf") format("opentype"),
    url("./fonts/circular/CircularStd-Medium.otf") format("opentype"),
    url("./fonts/circular/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Space Grotesk";
  src:
    url("./fonts/space-grotesk/SpaceGrotesk-Light.ttf") format("truetype"),
    url("./fonts/space-grotesk/SpaceGrotesk-Regular.ttf") format("truetype"),
    url("./fonts/space-grotesk/SpaceGrotesk-Medium.ttf") format("truetype"),
    url("./fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf") format("truetype"),
    url("./fonts/space-grotesk/SpaceGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  src:
    url("./fonts/caveat/Caveat-Medium.ttf") format("truetype"),
    url("./fonts/caveat/Caveat-Regular.ttf") format("truetype"),
    url("./fonts/caveat/Caveat-SemiBold.ttf") format("truetype"),
    url("./fonts/caveat/Caveat-Bold.ttf") format("truetype");
}

$light-text-color: #17181a;
$dark-text-color: #ededed;
$light-disabled-color: #b5b5b5;
$dark-disabled-color: #414141;
$pale-green-color: #cdfc75;
$pale-orange-color: #f05443;
$light-bg-color: #ededed;
$dark-bg-color: #17181a;

/* hide scrollbar for IE, Edge and Firefox */

/* hide scrollbar for chrome, safari and opera */

*,
body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  user-select: none;
  cursor: none;
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: none;
  }
}
