@use "../../index" as global;

.customCursor {
  position: fixed;
  opacity: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition-duration: 0.05s, 0.05s, 0.4s, 0.4s, 0.4s, 0.08s;
  transition-property: top, left, height, width, border, opacity;
  will-change: top, left, width, height, transform, opacity, border;
  pointer-events: none;
  z-index: 9999;
}

.light {
  border-style: solid;
  border-color: global.$dark-bg-color;
}

.dark {
  border-style: solid;
  border-color: global.$light-bg-color;
}

.normal {
  border-width: 3px;
  height: 38px;
  width: 38px;
}

.expanded {
  border-width: 2px;
  height: 58px;
  width: 58px;
}

.masked {
  border-width: 0px;
  height: 2px;
  width: 2px;
}

.focused {
  height: 5px;
  width: 5px;
}

.customCursorInner {
  height: 4px;
  width: 4px;
  position: fixed;
  opacity: 0;
  border: 2px solid global.$pale-orange-color;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: opacity, border;
  pointer-events: none;
  z-index: 999;
}
