.background-container {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/hero-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title_name {
  margin-top: calc(100vh - 70vh);
}

@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-icon__dot {
  position: absolute;
  display: block;
  top: 70%;
  left: 55%;
  background: #00c283;
  height: 0.5em;
  width: 0.4em;
  top: 0.5em;
  margin-left: -0.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 2em;
  border: 0.2em solid #00c283;
  border-radius: 1em;
}

@media screen and (max-width: 512px) {
  .scroll-icon__dot {
    top: 70%;
    left: 60%;
    height: 0.4em;
    width: 0.25em;
    top: 0.5em;
    border-radius: 40%;
  }

  .scroll-icon {
    display: block;
    position: relative;
    height: 2.4em;
    width: 1.6em;
    border: 0.13em solid #00c283;
    border-radius: 1em;
  }
}

.title_tagline > p {
  color: #ccc;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-right: 0.7rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
